<div id="contact-page" class="container">
  <div class="bg">
      <div class="row">
          <div class="col-sm-12">
              <h2 class="headers text-center">Listado de transferencias</h2>
          </div>
      </div>
      <form >
          <input style="height: 40px;float: right;" class="btn" value="Buscar" type="submit">
          <input style="width: 50%;height: 40px;float:right" class="form-control" type="text">
        </form>
      <div class="row">
          <div class="col-sm-12">
              <div class="contact-form">

                  <div class="content table-responsive table-full-width table-wrapper-scroll-y">
                      <table class="table display table table-bordered table-striped">
                          <thead>
                              <tr>
                                  <th>Id de Producto</th>
                                  <th>Fecha</th>
                                  <th>Tipo de transferencia</th>
                                  <th>Cantidad</th>
                                  <th>Precio por unidad</th>
                                  <th>Acciones</th>
                              </tr>
                          </thead>
                          <tbody *ngFor="let transfer of transfers">
                              <tr>
                                  <td>{{transfer.productId}}</td>
                                  <td>{{transfer.date}}</td>
                                  <td *ngIf="transfer.transferType === 'EntryTransfer'; else out">Salida de producto</td>
                                  <ng-template #out>
                                      <td>Entrada de producto</td>
                                  </ng-template>
                                  <td>{{transfer.quantity}}</td>
                                  <td>{{transfer.unitCost}}</td>
                                  <td>
                                    <a class="btn btn-default btn-sm">
                                        <i class="ti-info" style="color:black;"></i>
                                    </a>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
          <div class="col-sm-4">

          </div>
      </div>
  </div>
</div>
<!--/#contact-page-->
